body{
    margin:0px;
    padding-top: 800px;
    text-align: center;
}
#tim{
    width: 400px;
    height:400px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    bottom: 0;
    background:linear-gradient(#880808,#00FFFF);
    width:100%;
    height:100%;
    font-size: 20px;
    z-index: 9;
}
#bio{
  font-family: cursive;
    padding: 50px;
    margin-top: 50px;
    font-size: 30px;
}
.line{
background-color: black;
    width: 80px;
    height: 6px;
    margin: 8px auto;
}
.menu{
    list-style: none;
    position: fixed;
    z-index: 10;
    cursor:pointer;
    width:100%;
    margin-top:0px;
    top:0px;
}
.links{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: fantasy;
    display:inline;
}
#writings{
    font-size: 30px;
}
.article:hover{
    color: red;
}
#contact{
background-color:blue;}

.contact1{
    color:red;
}